/**footer main**/
footer main section a h3 {
  text-decoration: none;
  color: whitesmoke;
  font-size: 700 px;
  font-style: italic;
  font-weight: 700; }

footer main section h3 {
  color: whitesmoke; }

footer main section a {
  text-decoration: none; }

footer main section h3 li a {
  color: whitesmoke;
  text-decoration: none; }

footer h2 {
  color: whitesmoke; }

footer main section a h3 {
  text-decoration: none;
  color: whitesmoke;
  font-size: 700 px;
  font-style: italic;
  font-weight: 700; }

/**header body**/
.loge {
  background-color: whitesmoke; }

/**main body**/
.hero section h3 {
  color: #00c3ff; }

.bienvenidos div img {
  width: 600;
  height: 400; }

.hero div h3 {
  color: darkred; font-size: 1000; font-weight: 1000;}

.hero h2 {
  color: whitesmoke; }

.hero div h4 {
  color: whitesmoke; font-size: 500; font-weight: 500;}

.bienvenidos {
  color: white; }

.armas {
  color: whitesmoke; }

.hero .proce {
  color: black; }

.hero .grafica {
  color: black; }

.guns {
  color: whitesmoke; }

body {
  height: 800px;
  background-image: url(../img/logo.jfif);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

main h1 {color: whitesmoke;}

main section div h3 {font-size: 1000; font-weight: 1000;}

body main section div h4 {font-size: 500; font-weight: 500;}

  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}