/**main body**/

.hero section h3 { color: rgb(0, 195, 255);}

.bienvenidos div img {width: 600; height: 400;}

.hero div h3 {color:darkred;}

.hero h2 {color: whitesmoke;}

.hero div h4 {color: whitesmoke;}

.bienvenidos {color: white;}

.armas {color: whitesmoke;}

.hero .proce {color: black;}

.hero .grafica {color: black;}

.guns {color: whitesmoke;}

